@(title: String, lang: play.api.i18n.Lang, env: securesocial.core.RuntimeEnvironment[_])(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="icon" type="image/png" href="/assets/favicon.ico" />
        <link rel="stylesheet" media="screen" href=@routes.ConfigurableAssets.at("css/login.css")>
    	<link rel="stylesheet" media="screen" href=@routes.ConfigurableAssets.at("css/icon.css")>
        @env.routes.customCssPath.map { customPath =>
            <link rel="stylesheet" media="screen" href="@customPath">
        }
        <meta name="viewport" content="width=1200, initial-scale=.6">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                
                    <a class="brand" href="../../landing" style="position:relative;"></a>
                    <div class="floatRight">
                <a class="clearbtn" href="/login">
                  Login</a>
                <a class="clearbtn" href="/newSignUp">
                  Sign Up</a>
              </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="container2">
                @content
                <div class="clearfix"></div>
            </div>
        <div id="footer">
            <div>
                <div class="links1">
                    <div class="col-xs-18 pages">
                        <a href="/about">ABOUT</a>
                        <a href="/how-it-works">HOW IT WORKS</a>
                        <a href="/support">SUPPORT</a>
                        <a href="/promos">PROMOS</a>
                        <a href="/affiliates">AFFILIATES</a>
                        <a href="/legal">LEGAL</a>
                    </div>
                    <div class="col-xs-6 contact">
                    <div class="phone"></div>
                    <div class="email">SUPPORT@@VICTIV.COM</div>
                </div>
            </div>
            <div class="links2">
                <div class="col-xs-18 business" style="padding:0;">
                    <div class="copyright">&copy;2014 Ruckus Gaming, LLC. - All Rights Reserved</div>
                    <div class="legal">
                        <a href="/termsofuse">Terms</a>
                        <a href="/privacy">Privacy</a>
                    </div>
                </div>
                <div class="col-xs-6 payment">
                    <div class="col-xs-1 icons iconsstats"></div>
                    <div class="col-xs-1 icons iconsap" style="margin-right:-10px;"></div>
                    <div class="col-xs-1 icons iconspaypal"></div>
                    <div class="col-xs-1 icons iconsvisa"></div>
                    <div class="col-xs-1 icons iconsmastercard" style="margin-top:2px;"></div>
                    <div class="col-xs-1 icons iconsdiscover"></div>
                    <div class="col-xs-1 icons iconsamericanexpress" style="margin-right=-15px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
        
    </body>
</html>
