@(resetForm:play.api.data.Form[(String, String)], mailToken: String, request: play.api.mvc.RequestHeader, lang: play.api.i18n.Lang, env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@views.html.auth.main( Messages("securesocial.password.title"), lang, env ) {
<div class="topSpacer"></div>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<div class="fifty"><div>
    <div class="page-header header">
        <h1>@Messages("securesocial.password.title")</h1>
    </div>

    <form action="@securesocial.controllers.routes.PasswordReset.handleResetPassword(mailToken).absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off"
          method="POST" id="resetPasswordForm"
            >
        <fieldset>
            <div class="control-group  " id="password_password1_field">
                <label class="control-label" for="password_password1">Password</label>
                <div class="controls">
                    <input type="password" id="password_password1" name="password.password1" class="input-xlarge" placeholder="Password"><div class="icons iconspassword_dark"></div>
                    <span class="help-block">Required</span>
                </div>
            </div>

            <div class="control-group  " id="password_password2_field">
                <label class="control-label" for="password_password2">Password confirmation</label>
                <div class="controls">
                    <div class="validateLogin icons" id="passwordValid"></div>
                    <input type="password" id="password_password2" name="password.password2" class="input-xlarge" placeholder="Enter Password Again"><div class="icons iconspassword_dark"></div>
                    <span class="help-block">Required</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="bodyText">Password must be 8 characters including 1 uppercase letter and 1 number.</div>
                </div>
            </div>
            <div class="form-actions">
                <button id="submit" type="submit" class="btn btn-primary">@Messages("securesocial.password.reset")</button>
            </div>

        </fieldset>
    </form>
</div>
</div>
<div class="vdivide"></div>

<div class="fifty"><div style="width:400px"><div class="page-header header">

    <h1>@Messages("securesocial.login.bodyTextTitle")</h1>
    <div class="bodyText"><!--@Messages("securesocial.login.bodyText")-->

        We’re happy to introduce you to the beta versions of victiv.com.  Please explore the website and provide as much feedback as possible, including:</br>
        <ul>
            <li>bugs you find</li>
            <li>elements you don’t understand</li>
            <li>future features you’d hope to enjoy</li>
        </ul>

        Our goal is to build the best possible daily fantasy sports experience, and your feedback is integral in making that happen.</br></br>

        When sending us your feedback, please provide as much detail as possible — which browser did you use (Chrome, Safari, Internet Explorer, etc.), PC or Mac, and any screen shots of issues.</br></br>

        Send us emails with your feedback to <a style="color:#000000; text-decoration:underline;" href="mailto:beta@@victiv.com" target="_top">beta@@victiv.com</a>.</div>
</div>
</div>
</div>
<script>
    var pwRegex = new RegExp(/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z\ \!\@@\#\$\%\^\&\*\(\)\_\+\-\=\{\}\|\[\]\\\:\"\;\'\<\>\?\,\.\/]{8,}$/);

    function valid(){
        var pw1 = $("#password_password1").val()
        var pw2 = $("#password_password2").val()
        return (pw1 == pw2 && pwRegex.test(pw1) && pwRegex.test(pw2))
    }

    $("#password_password1").keyup(function(event){
        var pw1 = $("#password_password1").val()
        var pw2 = $("#password_password2").val()
        if(valid()){
            $("#passwordValid").addClass("iconscheckmark_green");
            $("#passwordValid").removeClass("iconsremove_red");
        } else {
            $("#passwordValid").addClass("iconsremove_red");
            $("#passwordValid").removeClass("iconscheckmark_green");
        }
    })

    $("#password_password2").keyup(function(event){
        var pw1 = $("#password_password1").val()
        var pw2 = $("#password_password2").val()
        if(valid()){
            $("#passwordValid").addClass("iconscheckmark_green");
            $("#passwordValid").removeClass("iconsremove_red");
        } else {
            $("#passwordValid").addClass("iconsremove_red");
            $("#passwordValid").removeClass("iconscheckmark_green");
        }
    })

    $("#resetPasswordForm").on("submit", function(event){
        var pw1 = $("#password_password1").val()
        var pw2 = $("#password_password2").val()
        if(!valid()){
            event.preventDefault();
        }
    })
</script>

}