@(startForm:play.api.data.Form[String], request: play.api.mvc.RequestHeader, lang: play.api.i18n.Lang, env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }
@views.html.auth.main( Messages("securesocial.password.title"), lang, env ) {
<div class="topSpacer"></div>
<div class="fifty"><div>
        <div class="page-header resetHead">
            <h1>@Messages("securesocial.password.title")</h1>
        </div>

        @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
        }

        <form action="@controllers.routes.AuthenticationController.sendResetPassword"
              class="form-horizontal"
              autocomplete="off"
              method="POST"
        >
            <fieldset>
                <div class="controls">
                   <input type="text" id="email" name="email" value="" class="input-xlarge" placeholder="Email">
                   <div class="icons iconsemail_dark"></div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">@Messages("securesocial.password.reset")</button>
                    <a style="padding-left:15px;" href="@env.routes.loginPageUrl">@Messages("securesocial.signup.cancel")</a>
                </div>

            </fieldset>
        </form>
</div>
</div>
<div class="vdivide"></div>

<div class="fifty"><div style="width:400px"><div class="page-header header">

        <h1>@Messages("securesocial.login.bodyTextTitle")</h1>
        <div class="bodyText"><!--@Messages("securesocial.login.bodyText")-->

We’re happy to introduce you to the beta versions of victiv.com.  Please explore the website and provide as much feedback as possible, including:</br>
<ul>
 <li>bugs you find</li>
 <li>elements you don’t understand</li>
<li>future features you’d hope to enjoy</li>
</ul>

Our goal is to build the best possible daily fantasy sports experience, and your feedback is integral in making that happen.</br></br>

When sending us your feedback, please provide as much detail as possible — which browser did you use (Chrome, Safari, Internet Explorer, etc.), PC or Mac, and any screen shots of issues.</br></br>

Send us emails with your feedback to <a style="color:#000000; text-decoration:underline;" href="mailto:beta@@victiv.com" target="_top">beta@@victiv.com</a>.</div>
</div>
</div>
</div>


}
