.icons{ background:url("../images/2x.png") top left no-repeat; background-size: 30px;}
.iconscontest_light{ width:30px; height:30px; background-position:0  0px; }
.iconscontest_dark{ width:30px; height:30px; background-position:0 -30px}
.iconsathletes_light{ width:30px; height:30px; background-position:0  -60px; }
.iconsathletes_dark{ width:30px; height:30px; background-position:0   -90px; }
.iconsinfo_dark{ width:30px; height:30px; background-position:0 -120px; }
.iconsinfo_light{ width:30px; height:30px; background-position:0 -150px; }
.iconsplayer_light{ width:30px; height:30px; background-position:0 -180px; }
.iconsplayer_dark{ width:30px; height:30px; background-position:0 -210px; }
.iconsstats_light{ width:30px; height:30px; background-position:0 -240px; }
.iconsstats_dark{ width:30px; height:30px; background-position:0 -270px; }
.iconsexposure_light{ width:30x; height:130x; background-position:0px -300px; }
.iconsexposure_dark{ width:30x; height:130x; background-position:0 -330px; }
.iconstwitter_light{ width:30px; height:30px; background-position:0 -360px; }
.iconstwitter_dark{ width:30px; height:30px; background-position:0 -390px; }
.iconsvs_light{ width:30px; height:30px; background-position:0 -420px; }
.iconsvs_dark{ width:30px; height:30px; background-position:0 -450px; }
.iconscheckmark_light{ width:30px; height:30px; background-position:0 -480px; }
.iconsarrow_up_light{ width:30px; height:30px; background-position:0 -510px; }
.iconsarrow_down_light{ width:30px; height:30px; background-position:0 -540px; }
.iconsarrow_right_light{ width:30px; height:30px; background-position:0 -570px; }
.iconsplus_light{ width:30px; height:30px; background-position:0 -600px; }
.iconsplus_green{ width:30px; height:30px; background-position:0 -630px; }
.iconsremove_light{ width:30px; height:30px; background-position:0 -660px; }
.iconsremove_red{ width:30px; height:30px; background-position:0 -690px; }
.iconslightning_light{ width:30px; height:30px; background-position:0 -720px; }
.iconscancel_light{ width:30px; height:30px; background-position:0 -750px; }
.iconsback_light{ width:30px; height:30px; background-position:0  -780px; }
.iconsreplace_light{ width:30px; height:30px; background-position:0 -810px; }
.iconsarrow_right_green{ width:30px; height:30px; background-position:0 -840px; }
.iconsline_graph_green{ width:30px; height:30px; background-position:0 -870px; }
.iconsline_graph_light{ width:30px; height:30px; background-position:0 -900px; }
.iconsbubble_graph_green{ width:30px; height:30px; background-position:0 -930px; }
.iconsbubble_graph_light{ width:30px; height:30px; background-position:0 -960px; }
.iconslineups_light{ width:30px; height:30px; background-position:0 -990px; }
.iconslineups_dark{ width:30px; height:30px; background-position:0 -1020px; }
.iconshistory_light{ width:30px; height:30px; background-position:0 -1050px; }
.iconshistory_dark{ width:30px; height:30px; background-position:0 -1080px; }
.iconsgoogle_light{ width:30px; height:30px; background-position:0 -1110px; }
.iconsgoogle_dark{ width:30px; height:30px; background-position:0 -1140px; }
.iconsfacebook_light{ width:30px; height:30px; background-position:0 -1170px; }
.iconsfacebook_dark{ width:30px; height:30px; background-position:0 -1200px; }
.iconstwitter_footer_light{ width:30px; height:30px; background-position:0 -1230px; }
.iconsfacebook_footer_light{ width:30px; height:30px; background-position:0 -1260px; }
.iconsemail_light{ width:30px; height:30px; background-position:0 -1290px; }
.iconsemail_dark{ width:30px; height:30px; background-position:0 -1320px; }
.iconsuser_light{ width:30px; height:30px; background-position:0 -1350px; }
.iconsuser_dark{ width:30px; height:30px; background-position:0 -1380px; }
.iconspassword_light{ width:30px; height:30px; background-position:0 -1410px; }
.iconspassword_dark{ width:30px; height:30px; background-position:0 -1440px; }
.iconsback_dark{ width:30px; height:30px; background-position:0 -1470px; }
.iconsx_light{ width:30px; height:30px; background-position:0 -1500px; }
.iconsplus_gray{ width:30px; height:30px; background-position:0 -1530px; }
.iconslock_dark{ width:30px; height:30px; background-position:0 -1560px; }
.iconsunlock_light{ width:30px; height:30px; background-position:0 -1590px; }
.iconscheckmark_green{ width:30px; height:30px; background-position:0 -1620px; }
.iconsarrow_down{ width:30px; height:30px; background-position:0 -1650px; }
.iconsarrow_up{ width:30px; height:30px; background-position:0 -1680px; }
.iconsvisa{ width:30px; height:30px; background-position:0 -1710px; }
.iconsstats{ width:30px; height:30px; background-position:0 -1740px; }
.iconspaypal{ width:30px; height:30px; background-position:0 -1770px; }
.iconsmastercard{ width:30px; height:30px; background-position:0 -1800px; }
.iconsdiscover{ width:30px; height:30px; background-position:0 -1830px; }
.iconsap{ width:30px; height:30px; background-position:0 -1860px; }
.iconsamericanexpress{ width:30px; height:30px; background-position:0 -1890px; }
.iconsclose_red{ width:30px; height:30px; background-position:0 -1920px; }
.iconsuser_header{ width:30px; height:30px; background-position:0 -1950px; }
.iconslock_white{ width:30px; height:30px; background-position:0 -1980px; }
.iconslineup_edit_dark{ width:30px; height:30px; background-position:0 -2010px; }
.iconslineup_edit_green{ width:30px; height:30px; background-position:0 -2040px; }
.iconslineup_add_light{ width:30px; height:30px; background-position:0 -2070px; }
.iconslineup_add_green{ width:30px; height:30px; background-position:0 -2100px; }
.iconslineup_switch_light{ width:30px; height:30px; background-position:0 -2130px; }
.iconslineup_switch_green{ width:30px; height:30px; background-position:0 -2160px; }
.iconsinfo_white{ width:30px; height:30px; background-position:0 -2190px; }
.iconsarrow_down_white{ width:30px; height:30px; background-position:0 -2210px; }
.iconsarrow_up_white{ width:30px; height:30px; background-position:0 -2240px; }
