Resources:
  AWSEBLoadBalancerSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 24.153.178.134/32
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 24.153.178.134/32
        - IpProtocol: tcp
          FromPort: 8443
          ToPort: 8443
          CidrIp: 24.153.178.134/32
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 82 
          CidrIp: 0.0.0.0/0

  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties: 
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          CidrIp: 0.0.0.0/0 
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 82
          SourceSecurityGroupId: 
            Ref: AWSEBLoadBalancerSecurityGroup

  AWSEBSecurityGroupIngress:
    Type: "AWS::EC2::SecurityGroupIngress"
    Properties:
      GroupId:
        Fn::GetAtt:
          - "AWSEBSecurityGroup"
          - "GroupId"
      SourceSecurityGroupId:
        Fn::GetAtt:
          - "AWSEBSecurityGroup"
          - "GroupId"
      IpProtocol: "tcp"
      ToPort: "5701"
      FromPort: "5701"

  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      Listeners: 
        - LoadBalancerPort: 80 
          Protocol: "HTTP"
          InstancePort: 80
          InstanceProtocol: "HTTP"
        - LoadBalancerPort: 443
          Protocol: "SSL"
          InstancePort: 82
          InstanceProtocol: "TCP"
          SSLCertificateId: "arn:aws:iam::055288622657:server-certificate/_star_.victiv.com"
        - LoadBalancerPort: 8443
          Protocol: "SSL"
          InstancePort: 82
          InstanceProtocol: "TCP"
          SSLCertificateId: "arn:aws:iam::055288622657:server-certificate/_star_.victiv.com"
      Policies:
      - Attributes:
        - Name: ProxyProtocol
          Value: "true"
        InstancePorts:
        - '82'
        PolicyName: EnableProxyProtocol
        PolicyType: ProxyProtocolPolicyType
      HealthCheck:
        Timeout: "5"
        Interval: "30"
        Target: "HTTP:81/auth/login"
        HealthyThreshold: "3"
        UnhealthyThreshold: "5"
