<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>Admin Home</div><br><br>
    <div>
        <a href="/admin/lobby">Lobby</a><br>
        <a href="/admin/flushAllCaches">Flush All Caches</a><br>
        <a href="/admin/updateMlbGamelogs">Update MLB Game Logs</a><br>
        <a href="/admin/updateNflGamelogs">Update NFL Game Logs</a><br>
        <a href="/admin/updateNflPredictions">Update NFL Predictions</a><br>
        <a href="/admin/updateNflGameOdds">Update NFL Gameday Odds</a><br>
        <a href="/admin/getHazelcastInfo">Hazelcast Info</a>
    </div>
</body>
</html>