@(user: models.user.User, wallet: models.wallet.UserWallet)
@import views.html.pub.components._

@imports.render(user)
<title>VICTIV | Privacy Policy</title>

@if(user != null){
    @headerAuth.render(user, wallet)
} else {
    @header.render(user)
}
<div class="privacy">
<div class="col-xs-24 top">
	<div class="row section">
				<div class="mainHeader center">PRIVACY POLICY</div>
	</div>
</div>
<div class="col-xs-24">
	<div class="row section body">
				<p>Ruckus Gaming LLC (<span class="bold">&#34;Ruckus&#34;, &#34;we&#34;, &#34;us&#34;, &#34;our&#34;</span>) is committed to protecting and respecting your privacy.</p>
				<p>This policy (together with our <a href="/termsofuse">terms of use</a> and any other documents referred to in it) sets out the basis on which any personal data we collect from you,
				or that you provide to us, will be processed by us.  Please read the following carefully to understand our procedures and practices regarding your personal data and how we will treat it.
				By visiting the website on which this privacy policy is hosted (&#34;Site&#34;), you are accepting and consenting to the practices described in this policy.</p>
				<p>The Site may contain links to third party websites. Please be aware that we are not responsible for the privacy practices or policies of such third party websites and this privacy policy will not apply to the same.</p>
				<ul class="textHeadersList noBullets">
					<!--Information collection section -->
					<li>INFORMATION WE MAY COLLECT FROM YOU
						<p>We may collect and process the following data about you:</p>
						<ul class="innerBulletList">
							<li><span class="bold">Information you give us.</span> You may give us information about you by filling in forms on the Site, registering for an account at the Site, or by corresponding with us by phone, e-mail or otherwise.
							This includes, but is not limited to, information you provide when you register to use the Site, participate in discussion boards or other social media functions on the Site, place an order on the Site,
							participate in competitions, promotions, contests or surveys and/or when you report a problem with the Site. The information you give us may include, your name, address, email address and phone number,
							social security number, financial and credit card information, personal description and photograph.  From time to time, we may also request that you provide us with copies of personal and official documentation
							(for example your passport, driving license, certificate of residency, bank statements etc.).</li>
							<li><span class="bold">Information we collect about you.</span> Each time you visit the Site we may automatically collect the following information:
								<ul class="secondInnerBulletList">
									<li>technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, browser plug-in types and versions,
									operating system and platform; and</li>
									<li>information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from the Site (including date and time), search terms entered, page response times, download errors,
									length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page and any phone number used to call our customer services.</li>
								</ul>
							</li>
							<li><span class="bold">Information we receive from other sources.</span> We may receive information about you if you use any of the other websites we operate or the other services we provide.
							We are also working closely with third parties (including, for example, business partners, sub-contractors in technical, payment and delivery services, advertising networks,
							analytics providers, search information providers, credit reference agencies) and may receive information about you from them.</li>
						</ul>
					</li>
					<!--Cookies section-->
					<li>COOKIES
						<p>The Site uses cookies to distinguish you from other users of the Site. This allows us to both provide you with a better experience when you browse the Site and also to improve the Site generally.
						For detailed information on the cookies we use and the purposes for which we use them, please see our cookie policy</p>
					</li>
					<!--Information use section-->
					<li>HOW INFORMATION COLLECTED IS USED
						<p>We use information held about you in the following ways:</p>
						<ul class="innerBulletList">
							<li><span class="bold">Information you give to us.</span>We will use this information:
								<ul class="secondInnerBulletList">
									<li>to operate, maintain and provide to you the features and functionality of the Site;</li>
									<li>to carry out our obligations pursuant to any contracts entered into between you and us and to provide you with the information, products and services that you request from us;</li>
									<li>to provide you with information about other goods and services we offer that are similar to those that you have already purchased, used or enquired about;</li>
									<li>to provide you, or permit selected third parties to provide you, with information about goods or services we feel may interest you. If you do not want us to use your data in this way,
									or to pass your details on to third parties for marketing purposes, please tick the relevant box situated on the Site&#39;s account registration form;</li>
									<li>to notify you about changes to the Site and/or any of our services and to interact with you generally;</li>
									<li>to ensure that content from the Site is presented in the most effective manner for you and for your computer; and</li>
									<li>in connection with any advertising, marketing and/or publicity activity with which you may have agreed to participate.</li>
								</ul>
							</li>
							<li><span class="bold">Information we collect about you.</span>We will use this information:
								<ul class="secondInnerBulletList">
									<li>to administer the Site and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;</li>
									<li>to improve the Site to ensure that content is presented in the most effective manner for you and for your computer; </li>
									<li>to allow you to participate in interactive features of the Site, when you choose to do so;</li>
									<li>as part of our efforts to keep the Site safe and secure;</li>
									<li>to measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you;</li>
									<li>to make suggestions and recommendations to you and other users of the Site about goods or services that may interest you or them.</li>
								</ul>
							</li>
							<li><span class="bold">Information we receive from other sources.</span>We may combine this information with information you give to us and information we collect about you. We may use this
							information and the combinedinformation for the purposes set out above (depending on the types of information we receive).</li>
						</ul>
					</li>
					<!--Information disclosure section-->
					<li>DISCLOSURE OF YOUR INFORMATION
						<p>We may share your personal information with any member of our group, which means our subsidiaries, our ultimate holding company and its direct and indirect subsidiaries.</p>
						<p>We may share your information with selected third parties including:</p>
						<ul class="innerBulletList">
							<li>business partners, suppliers and sub-contractors for the performance of any contract we enter into with them or you;</li>
							<li>advertisers and advertising networks that require the data to select and serve relevant adverts to you and others.  We do not disclose personally identifiable information about individuals to our advertisers, but we may provide them with aggregated information about our users.  We may also use such aggregate information to help advertisers reach a particular demographic.  We may make use of the personal data we have collected from you to enable us to comply with our advertisers&#39; wishes by displaying their advertisementto that target audience; and</li>
							<li>analytics and search engine providers that assist us in the improvement and optimization of the Site. </li>
						</ul>
						<p style="margin-top:10px;">We may disclose your personal information to third parties:</p>
						<ul class="innerBulletList">
							<li>in the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets;</li>
							<li>if we or substantially all of our assets are acquired by a third party, in which case personal data held by us about our customers will be one of the assets transferred;</li>
							<li>if we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our <a href="termsofuse">terms of use</a> or terms and conditions of supply and other agreements; or to protect the rights, property, or safety of Ruckus, our customers, or others.  This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit riskreduction.</li>
						</ul>
					</li>
					<!--Personal data storage section-->
					<li>WHERE WE STORE YOUR PERSONAL DATA
						<p>All information you provide to us is stored on our secure servers. </p>
						<p>Any financial transactions are processed by third party payment processing suppliers who employ security measures, including encryption protocols and storage procedures, which we believe to be at least as effective as the industry standard.</p>
						<p>Where we have given you (or where you have chosen) a password which enables you to access certain parts of the Site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.</p>
						<p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to the Site; any transmission is at your own risk. Once we have received your information, we will use commercially reasonable technical, physical, administrative and managerial procedures, security measures and safeguards to try to prevent unauthorized access to, and to preserve the integrity and security of, your personal information.</p>
						<p>If you are accessing the Site from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use, and disclosure, that differ from United States laws, you acknowledge that you are transferring your personal information to the United States and you consent and agree to that transfer.</p>
					</li>
					<!--User rights section-->
					<li>
						<p>You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data.  You can also exercise the right at any time by contacting us at <a href="mailto:support&#64;victiv.com">support&#64;victiv.com</a>.</p>
						<p>The Site may, from time to time, contain links to and from the websites of our partners, advertisers and affiliates.  If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies.  Please check these policies before you submit any personal data to these websites.</p>
					</li>
					<!--Access to information section-->
					<li>ACCESS TO INFORMATION
						<p>You may request a copy of all information held about you, at any time, by contacting <a href="mailto:support&364;victiv.com">support&#64;victiv.com</a>.</p>
					</li>
					<!--Changes to policy section-->
					<li>CHANGES TO OUR PRIVACY POLICY
						<p>Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail.  Please check back frequently to make yourself aware of any updates or changes to our privacy policy.</p>
					</li>
					<!--Contact section-->
					<li>CONTACT
						<p>Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to <a href="mailto:support&#64;victiv.com">support&#64;victiv.com</a>.</p>
					</li>
				</ul>
				<p class="updateDate">This privacy policy was last updated on 21 August 2014.</p>
	</div>
</div>
</div>
@footer.render(user)
