@(user: models.user.User, wallet: models.wallet.UserWallet)
@import views.html.pub.components._

@imports.render(user)
<title>VICTIV | Terms of Use</title>

@if(user != null){
    @headerAuth.render(user, wallet)
} else {
    @header.render(user)
}
<div class="col-xs-24 terms">
    <div class="row section">
        <div class="col-xs-3"></div>
        <div class="col-xs-18">
        <div class="mainHeader center">TERMS & CONDITIONS OF USE</div>
        <div class="descHeader center">Please read these terms and conditions carefully before using this website.</div>
        </div>
        <div class="col-xs-3"></div>
    </div>
</div>
<div class="col-xs-24 info">
    <div class="row section body">
        <ol class="textHeadersList">
        <!--Section 1-->
        <li><h1>TERMS OF WEBSITE USE</h1>
            <p>These terms of use (together with the documents referred to in it) set out the terms upon which
            you may make use of the website upon which they appear (&#34;Site&#34;), whether as a guest or a registered
            user.  Use of the Site includes accessing, browsing, or registering to use the Site.</p>
            <p>Please read these terms of use carefully before you start to use the Site, as these will apply to
            your use of the Site. We recommend that you print a copy of these terms for future reference.</p>
            <p>Each time you use the Site, you confirm that you accept these terms of use, as drafted from time to
            time, and that you agree to comply with them always.</p>
            <p>By using the Site you agree to indemnify, release and to hold harmless Ruckus, its parents, subsidiaries,
            affiliates, licensors and agents, as well as the officers, directors, employees, shareholders and
            representatives of any of them, from any and all liability, claims or actions of any kind whatsoever,
            including but not limited to injuries, damages, or losses to persons and property which may be
            sustained in connection with your use of the Site, your participation in Contests (as defined below),
            or your fulfilment of any obligation set out herein or otherwise connected to your use of the Site,
            whether directly or indirectly.</p>
            <p>If you do not agree to these terms of use, you must not use the Site.</p>
        </li>
        <!--Section 2-->
        <li><h1>OTHER APPLICABLE TERMS</h1>
            <p>These terms of use refer to the following additional terms, which also apply to your use of the Site:</p>
            <ul class="tcBulletList">
                <li>Our <a href="/privacy">Privacy Policy</a>, which sets out the terms upon which we process
                any personal data that we may collect from you, or that you may provide to us. By using the Site,
                you consent to such processing and you warrant that all data provided by you is accurate.
                </li>
                <li>Our Acceptable Use Policy, which sets out the permitted uses and prohibited uses of the Site.
                When using the Site, you must comply with this Acceptable Use Policy.</li>
                <li>Our Cookie Policy, which sets out information about the cookies on the Site.</li>
            </ul>
            <p>If you purchase goods from the Site, our terms and conditions of supply will apply to the sales.</p>
            <p>If you participate in any Contest (as defined below) additional Contest and/or promotional terms may apply
            which may set out, among other things, the eligibility requirements, conditions of participation and
            restrictions placed on any Contests offered by us on the Site from time to time.</p>
            <p>Any promotional bonus, credit or deposit made to your account at the Site by us may be subject to additional
            terms and conditions which may set out, among other things, restrictions on its use and its ability
            to be withdrawn and/or converted to real funds.</p>
        </li>
        <!--Section 3-->
        <li><h1>INFORMATION ABOUT US</h1>
            <p>The Site is operated by Ruckus Gaming LLC (&#34;Ruckus&#34;, &#34;we&#34; or &#34;us&#34;), a Delaware limited liability corporation,
            whose principal place of business is located at 9111 Jollyville Road, Suite 235, Austin, TX 78759.</p>
        </li>
        <!--Section 4-->
        <li><h1>CHANGES TO THESE TERMS</h1>
            <p>We may revise these terms of use at any time and without notice by amending this page.</p>
            <p>Please ensure that you revisit this page from time to time to take note of any changes to these
            terms, as they are binding on you.</p>
        </li>
        <!--Section 5-->
        <li><h1>CHANGES TO THE SITE</h1>
            <p>We may update the Site from time to time, and may change the content at any time, but shall be under
            no obligation to do so.  Accordingly, by using the Site you acknowledge that its content may be out of
            date at any given time, and that we are under no obligation to update it.</p>
            <p>We do not guarantee that the Site, or any content on it, will be free from errors or omissions.</p>
        </li>
        <!--Section 6-->
        <li><h1>ACCESSING THE SITE</h1>
            <p>The Site is made available free of charge.</p>
            <p>We do not guarantee that the Site, or any content on it, will always be available or be uninterrupted.
            Access to the Site is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all
            or any part of the Site without notice. We will not be liable to you if for any reason the Site is unavailable
            at any time or for any period.</p>
            <p>You are responsible for making all arrangements necessary for you to have access to the Site. You are
            also responsible for ensuring that all persons who access the Site through your internet connection are
            aware of these terms of use and other applicable terms and conditions, and that they comply with them.</p>
        </li>
        <!--Section 7-->
        <li><h1>YOUR ACCOUNT AND PASSWORD</h1>
            <p>If you create, select, or are provided with, an account user identification code, username, password or any
            other piece of information as part of our security procedures, you must treat such information as confidential
            and must not disclose the same to any third party.</p>
            <p>In creating or selecting a username you may not use a username that promotes a commercial venture, infringes
            upon the rights of any third party or which we, in our sole discretion, deem offensive, or likely to cause offence
            or distress to any third party, whether or not a user of the Site.</p>
            <p>You may not permit any other third party to use your account to participate in any Contest (as defined below).
            If you know or suspect that anyone other than you knows your account user identification code, username or password,
            you must promptly notify us at support&#64;victiv.com.  We will not be held responsible for any loss or damage resulting
            from any unauthorized use of your account and/or your failure to notify us of the same.</p>
            <p>You may create only one account on the Site.  In the event that we discover, or reasonably believe, that you have opened
            more than one account, in addition to any other rights that we may have against you, we reserve the right to suspend or terminate
            any or all of your accounts and withhold or revoke the awarding of any prizes, without notice.</p>
            <p>Should we request registration information from you, you agree to provide us with accurate and complete
            information and to update this information in a timely fashion in the event that it changes.</p>
            <p>We may, without affecting any other rights and/or obligations hereunder,  disable any account user identification code,
            username or password, whether chosen by you or allocated by us, at any time, if, in our reasonable opinion, you have failed
            to comply with any of the provisions of these terms of use.</p>
            <p>You may elect to terminate your account at the Site, at any time, by providing us with 7 days&#39; notice.  We may terminate your
            account at the Site, at any time, by providing you with 7 days&#39; notice if you have not logged in to said account for a period of at
            least 180 consecutive days.  You acknowledge and agree that it is your responsibility to withdraw any funds remaining in your account
            during the aforementioned 7 day notice periods and that failure to do so will render any such funds forfeit.</p>
            <p>Any provisions of these terms of use that are intended to endure, or which by their nature should endure, or which are otherwise capable
            of enduring following any suspension or termination of your account, will so endure indefinitely.</p>
        </li>
        <!--Section 8-->
        <li><h1>CONTESTS&nbsp;&#45;&nbsp;ELIGIBILITY, PARTICIPATION AND PRIZES</h1>
            <p>Subject to the eligibility criteria set out below, you will be able to participate in multi-format fantasy sports contests offered on the
            Site from time to time (<span class="bold">&#34;Contests&#34;</span>).  Any Contest that is not free to enter has a corresponding entry fee stated in US dollars. If you select
            to participate in a Contest and complete the entry process, the stated amount of US dollars will be debited from your account at the Site.</p>
            <p>You acknowledge and agree that Contests are contests of skill and that it is not permitted for you to wager on the outcome of any Contest,
            or to otherwise use the Site, or the Contests, for any purposes linked to illicit gambling.  The winners of each Contest are selected from the
            pool of eligible entrants and will be determined by reference to the number of points accumulated according to the relevant Contest rules as
            published on the Site from time to time.</p>
            <p>While anyone may use the Site for informational and general entertainment purposes, to open a real money account with the Site, to participate
            in Contests, or to be eligible for the award of prizes you must:</p>
            <ul class="tcBulletList">
                <li>be at least 18 years of age (or the equivalent age of majority in your jurisdiction, if greater than 18 years);</li>
                <li>not be legally resident, or physically located, in the states of Arizona, Louisiana, Montana or Washington, or in the province of Quebec,
                Canada (each a <span class="bold">&#34;Restricted Territory&#34;</span>).</li>
            </ul>
            <p>In seeking to register an account on the Site, you are representing to us that you are of sufficient age and not legally resident, or physically
            located in, a Restricted Territory and you agree to provide us, upon request, with such documentation as we may require from time to time to verify
            your age, identity and residency status.  You acknowledge that failure to provide any such documentation within a timely fashion may result in the
            suspension or termination of your account, without notice.</p>
            <p>Contest results and prizes awarded are based upon the final statistics and scoring results available as at completion of all sports games in each
            individual Contest.  Contest results are deemed final upon declaration by us of the result on the Site and the awarding of prizes accordingly.
            Results of Contests will not be altered or amended due to any after the event official statistics or scoring adjustments made by a sport&#39;s governing
            body and/or league, other than in our sole discretion.</p>
            <p>You may withdraw from any Contest entered, at any time, prior to either the acceptance by us of the final contestant&#39;s entry, or the commencement
            of the Contest, whichever is sooner.</p>
            <p>Prizes will be awarded as soon as reasonably practicable following the conclusion of each Contest.  The prizes available for each Contest are published
            in the respective Contest&#39;s prize table.  In the event of a tie, prizes are divided evenly amongst the participants that have tied.  Any cash prizes won
            by you will be added to your account balance at the Site.</p>
            <p>You acknowledge and agree that should we, in our sole and absolute discretion, determine that you did not comply with and or adhere to the terms of use,
            in any way, we may disqualify you from any Contest entered, in which case any prizes awarded to you as a result of said Contest will be immediately forfeit.</p>
            <p>We reserve the right, in our sole discretion, to cancel or suspend any Contest (or any portion thereof) for any reason whatsoever, including but not limited to,
            the safeguarding of the administration, security, fairness, integrity or proper operation of the Contest (or any portion thereof). We may provide you with notification
            of such cancellations or suspensions, but will not be obliged to do so.  In the event that a Contest is cancelled altogether, no Contest entry fee will be payable by you
            and any amounts that were to be used for the purpose of entering the Contest will once again be made available to you via your account.</p>
            <p>Unless you have provided an indication to the contrary when submitting a Contest entry, we may, in our sole discretion, move you from any Contest you have entered to
            another that is substantially similar to it and you hereby consent and agree to any such move. </p>
            <p>By entering a Contest, you consent to the use of, and agree that we, our service providers and business partners may use, your name, voice, likeness, and photograph in,
            and in connection with, the development, production, distribution and/or exploitation (including marketing and promotion) of any Contest, the Site and/or Ruckus generally,
            unless otherwise prohibited by law.  In the event that you are declared the winner of any Contest prize, you acknowledge and agree that acceptance of said prize will be
            conditional upon you making yourself available to us for publicity, advertising and promotional activities relating to the Contest or other Ruckus products, services or events,
            without additional compensation, from the date of notification by us that you have won a contest Prize until such time as we inform you that you are no longer required to make
            yourself so available.  We, and our business partners, reserve the right to make public statements about Contest entrants and winners, on-air, on the Internet, or otherwise,
            prior to, during, or following the completion of a Contest.  You agree that your participation in a Contest and, where applicable, the winning of a Contest prize constitutes
            complete and sufficient consideration and compensation for your obligations hereunder and, further, you agree not to charge or demand, or attempt or seek to charge or demand,
            any fee or additional consideration or compensation, or impose any additional conditions, in respect of the fulfillment of any such obligations.</p>
        </li>
        <!--Section 9-->
        <li><h1>CONTESTS&nbsp;&#45;&nbsp;FRAUD AND UNFAIR ACTIVITY</h1>
            <p>In entering a Contest, you agree to be bound by these terms of use and our decisions, which will be final and binding in all respects. We reserve the right, in our sole and
            absolute discretion, to deny you the ability to participate in any Contest for any reason whatsoever. Further, we may, in our sole and absolute discretion, disqualify you or
            any other Contestant from a Contest, refuse to award Contest prizes and/or require the return of any Contest prizes or invalidate and/or void any Contest result for the purposes
            of preventing abusive and/or any unfair or potentially unlawful activity, or if we believe that there is a risk of any such abusive, illegal, or unfair activity occurring.
            Such activity includes, but is not limited to:</p>
            <ul class="tcBulletList">
                <li>Falsifying any personal information required to create an account at the Site, or to enter a Contest or claim a prize;</li>
                <li>Unauthorized use of any third party&#39;s account at the Site;</li>
                <li>Engaging in any type of financial fraud, including the unauthorized use of credit or debit cards to enter a Contest or claim a prize;</li>
                <li>Colluding with third parties;</li>
                <li>Misusing privileged and/or &#34;insider&#34; information or knowledge that is not in the public domain;</li>
                <li>Dealing, in any way, with any third party who may be able to influence the outcome of any Contest;</li>
                <li>Using automated scripts, bots, or other automated means to enter and/or participate in Contests;</li>
                <li>Using any means to obtain, collect or access any information on the Site or of any other user of the Site, for any purpose;</li>
                <li>Abusing Site bonuses or any other Site offer, program or promotion;</li>
                <li>Any attempt to tamper with, manipulate or influence any Contest, the Site, its software or any security measure;</li>
                <li>Wrongfully obtaining other Site users&#39; personal information; </li>
                <li>Any violation of specific Contest rules or these terms of use; or</li>
                <li>Abusing the Site, or its users, in any way.</li>
            </ul>
            <p>You further acknowledge that any action taken by us pursuant to these terms of use in respect of any abusive, illegal, or unfair activity, including requiring the forfeiture
            and/or return of any Contest prize, will in no way prevent us from pursuing, or supporting, criminal or civil proceedings against you in connection with any such activity and/or
            your conduct generally.</p>
        </li>
        <!--Section 10-->
        <li><h1>PAYMENTS AND WITHDRAWALS</h1>
            <p>You may withdraw cash prizes awarded, cleared bonuses and/or funds previously deposited via the &#34;Cashier&#34; section of the Site, provided always that:</p>
            <ul>
                <li>withdrawal requests are subject to a US$20 minimum, withdrawal requests for smaller amounts will not be honored; and</li>
                <li>previously deposited funds have been used to enter at least one Contest.</li>
            </ul>
            <p>Deposits will always be deemed to be withdrawn before any prizes awarded and may only be withdrawn to the same account, card or payment method used to make the original deposit.
            Once the aggregate amount of all deposits has been withdrawn to the respective depositing accounts, cards or payment methods, you may request withdrawals in any form and/or to any account,
            card or payment method you desire and which may be supported by us from time to time.</p>
            <p>You acknowledge that, in order to complete withdrawals, you may be requested to complete affidavits of eligibility, liability/publicity releases (unless prohibited by law) and/or
            appropriate tax or other forms and you hereby agree to do so upon our reasonable request.  You further acknowledge that you may be requested to provide copies of certain forms of
            identification and/or official documentation including, but not limited to, your passport/driver's license, proof of residence and/or certain information relating to payment/deposit accounts
            or methods and you hereby agree to do so upon our reasonable request.  Failure to comply with any such request may result in your disqualification from Contest results, the forfeiture of any
            prizes and, subsequently, the refusal of your withdrawal request.</p>
            <p>Any promotional bonuses, credits or deposits that we might make to your account will not be capable of being withdrawn by you until such time as they have been &#34;cleared&#34; by you adhering to
            and completing any accompanying promotional terms and conditions.</p>
            <p>You acknowledge and agree that the payment of taxes on any Contest prizes awarded and/or amounts withdrawn from your account at the Site shall always be your own personal responsibility and that,
            under no circumstances, will we be liable to pay, reimburse or otherwise cover the payment of any such tax, or be liable to you in any way whatsoever in relation to the same. In the event that any
            Contest prizes awarded to you are challenged by any legal or governmental authority, we reserve the right, in our sole discretion, to determine whether or not to make payment to you in respect of
            such prizes and we will not be obligated to do so.</p>
            <p>No substitution or transfer of Contest prizes is permitted, except that we may substitute a Contest prize for one of equal, or greater, value should the original Contest prize be unavailable for
            any reason. All Contest prizes are awarded without warranty of any kind, whether express or implied (including, without limitation, any implied warranty of merchantability and/or fitness for a particular purpose).</p>
        </li>
        <!--Section 11-->
        <li><h1>INTELLECTUAL PROPERTY RIGHTS</h1>
            <p>The content on the Site including, but not limited to, any text, graphic images, photographic images, sounds, music, videos, software, interactive features and the trademarks, service marks and logos contained therein
            (<span class="bold">&#34;Intellectual Property&#34;</span>), are owned by or licensed to us and are subject to copyright and other intellectual property rights under United States and foreign laws and international
            conventions and treaties.  All such rights are reserved.</p>
            <p>You agree not to circumvent, disable or otherwise interfere with security related features of the Site or features that prevent or restrict use or copying of any Intellectual Property or of the Site.</p>
            <p>You may only use the Site for non-commercial purposes and you agree not to download, duplicate, capture, display, reproduce, retransmit, print off or otherwise create copies of the Site, its content, or any extracts
            thereof, other than those which are incidental to your own use of the Site in accordance with these terms of use.</p>
            <p>If you download, duplicate, capture, display, reproduce, retransmit, print off or otherwise create copies of the Site, its content, or any extracts thereof, in breach of these terms of use, your right to use the Site
            will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>
        </li>
        <!--Section 12-->
        <li><h1>UPLOADING CONTENT TO THE SITE</h1>
            <p>Whenever you make use of a feature that allows you to upload content to the Site, or to make contact with other users of the Site (<span class=bold">&#34;User Submission&#34;</span>), you must comply with the content standards set out in our Acceptable Use Policy.</p>
            <p>You warrant that any User Submission does comply with those standards, and that you will be liable to us and indemnify us for any breach of that warranty. </p>
            <p>Any User Submission to the Site will be considered non-confidential and non-proprietary.  You retain all existing ownership rights in your User Submissions but, in making or providing a User Submission to the Site,
            you grant to Ruckus, its parents, subsidiaries, affiliates, and partners an irrevocable, perpetual, non-exclusive, worldwide, royalty-free, fully sublicenseable license to use, distribute, edit, display, archive, publish, sublicense, perform,
            reproduce, make available, transmit, broadcast, sell, translate and create derivative works of those User Submissions, together with your name, voice, likeness and other identifying information that forms part of a User Submission. You hereby
            waive any moral rights you may have in your User Submissions.</p>
            <p>Except as provided in the Privacy Policy, we do not guarantee that User Submissions will remain confidential, even if the User Submission is to a password protected area of the Site.  Accordingly, you should not submit information via a User
            Submission that you wish to remain confidential.</p>
            <p>You represent and warrant that you have all rights necessary to grant the license above and that none of your User Submissions are defamatory, violate any rights of third parties (including intellectual property rights or rights of publicity
            or privacy), or violate applicable law.  In our sole discretion, we may disclose your identity to any third party who is claiming that a User Submission constitutes a violation of their strict legal rights.</p>
            <p>We have no obligation to monitor User Submissions, and you agree that neither we nor our parents, subsidiaries, affiliates, employees, or agents will be responsible, or liable to you or any third party, for any User Submissions,
            or any loss or damage resulting from User Submissions, or their content or accuracy.</p>
            <p>We retain right to remove any User Submission if, in our opinion, it does not comply with the content standards set out in our Acceptable Use Policy, or for any other reason whatsoever.</p>
            <p>The views expressed by other users on the Site are strictly their own and do not, in any way, represent our views, values and/or opinions.</p>
        </li>
        <!--Section 13-->
        <li><h1>VIRUSES</h1>
            <p>We do not guarantee that the Site will be secure or free from bugs or viruses.</p>
            <p>You are responsible for configuring your information technology, computer programs and platform in order to access the Site. You should use your own virus protection software.</p>
            <p>You must not misuse the Site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to the Site, the server on which
            the Site is stored or any server, computer or database connected to the Site. You must not attack the Site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you may be committing criminal offences.
            We will report any such breach to the relevant law enforcement agencies/authorities and we will cooperate fully with those agencies/authorities by disclosing your identity to them.  In the event of such a breach, your right to use the Site will cease immediately.</p>
        </li>
        <!--Section 14-->
        <li><h1>LINKING TO THE SITE</h1>
            <p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or seek to take advantage of it.</p>
            <p>You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.</p>
            <p>You must not establish a link to the Site on any website that is not owned by you, or which you are not authorized to establish links to the Site on in the manner so established.</p>
            <p>The Site must not be framed on any other site, nor may you create a link to any part of the Site other than the home page. </p>
            <p>We reserve the right to withdraw linking permission without notice.</p>
            <p>The website which links to the Site must comply in all respects with the content standards set out in our Acceptable Use Policy.</p>
        </li>
        <!--Section 15-->
        <li>THIRD PARTY LINKS AND RESOURCES ON THE SITE</h1>
            <p>Where the Site contains links to other websites and resources provided by third parties, these links are provided for your information only.  We have no control over the contents of those sites or resources.</p>
        </li>
        <!--Section 16-->
        <li><h1>NO RELIANCE ON INFORMATION</h1>
            <p>The content on the Site is provided &#34;AS IS&#34;, &#34;AS AVAILABLE&#34; and &#34;WITH ALL FAULTS&#34; for general information and entertainment purposes only.  It is not intended to amount to advice on which you should rely.  You must obtain professional or specialist
            advice before taking, or refraining from, any action on the basis of the content on the site.</p>
            <p>You acknowledge and agree that: a) the Site&#39;s &#34;VICTRON&#34; feature is provided for your convenience only and that no VICTRON output is intended, or should be deemed, to be, or will amount to, a suggestion or recommendation on the part of Ruckus upon which any reliance
            should be placed when selecting and/or submitting any Contest entry; and b) any Contest entry submitted by you is your own informed selection and has been the subject of considered review prior to submission; c) we will not be liable to you, in any way, for any Contest
            entry that has been generated, in whole or in part, by your use of the site&#39;s VICTRON feature. </p>
            <p>Although we make reasonable efforts to update the information on the Site, we make no representations, warranties or guarantees, whether express or implied, that the content on the Site is accurate, complete or up-to-date.</p>
        </li>
        <!--Section 17 -->
        <li><h1>LIMITATION OF LIABILITY</h1>
            <p>NOTHING IN THESE TERMS OF USE EXCLUDES OR LIMITS ANY LIABILITY ON OUR PART THAT CANNOT BE EXCLUDED OR LIMITED BY LAW.</p>
            <p>TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL CONDITIONS, WARRANTIES, REPRESENTATIONS OR OTHER TERMS WHICH MAY APPLY TO THE SITE OR ANY CONTENT ON IT, WHETHER EXPRESS OR IMPLIED.</p>
            <p>YOU ACKNOWLEDGE AND AGREE THAT USE OF THE SITE IS UNDERTAKEN AT YOUR OWN RISK AND THAT YOU WILL, AT ALL TIMES, REMAIN PRIMARILY RESPONSIBLE FOR YOUR USE OF THE SITE AND THE CONSEQUENCES OF SUCH USE.  YOU ACKNOWLEDGE AND AGREE THAT,
            TO THE FULLEST EXTENT PERMITTED BY LAW, NEITHER RUCKUS, NOR ITS PARENTS, SUBSIDIARIES, AFFILIATES, SUPPLIERS OR LICENSORS, NOR THE DIRECTORS, OFFICERS, SHAREHOLDERS, EMPLOYEES, OR OTHER REPRESENTATIVES OF ANY OF THEM, WILL BE LIABLE TO
            YOU OR ANY OTHER USER FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, ECONOMIC, PUNITIVE OR CONSEQUENTIAL LOSS OR DAMAGE, OR LOSS OR DAMAGE OF ANY OTHER KIND, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), BREACH OF STATUTORY DUTY,
            OR OTHERWISE, EVEN IF FORESEEABLE, ARISING UNDER OR IN CONNECTION WITH: A) THE USE OF, OR AN INABILITY TO USE, THE SITE; B) THE FUNCTIONALITY OR PERFORMANCE OF THE SITE, ITS SOFTWARE AND/OR ANY OTHER SOFTWARE OR HARDWARE UPON WHICH IT IS DEPENDENT;
            C) UNAUTHORIZED ACCESS OR ATTEMPTS TO ACCESS USER ACCOUNTS AND/OR PERSONALLY IDENTIFIABLE INFORMATION OR DATA; D) ANY ACTS OR OMISSIONS OF THIRD PARTYS (INCLUDING, BUT NOT LIMITED TO, ATTEMPTS TO DEFRAUD OR COMMIT THEFT);  E) THE USE OF, OR RELIANCE UPON,
            ANY CONTENT DISPLAYED ON THE SITE; F) A VIRUS, DISTRIBUTED DENIAL-OF-SERVICE ATTACK, OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE SITE OR TO YOUR
            DOWNLOADING OF ANY CONTENT ON IT, OR ON ANY WEBSITE LINKED TO IT; OR G) ANY OTHER CIRMCUMSTANCE WHATSOEVER.  NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION WILL,
            AT ALL TIMES, BE LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU TO US FOR GENERAL USE OF THE SITE, NOT INCLUDING ANY ENTRY FEES FOR CONTESTS COMPLETED PRIOR TO THE CIRCUMSTANCES GIVING RISE TO ANY SUCH LIABILITY.</p>
            <p>YOU AGREE NOT TO USE THE SITE FOR ANY COMMERCIAL OR BUSINESS PURPOSES, AND THAT WE WILL HAVE NO LIABILITY TO YOU FOR ANY LOSS OF PROFIT, LOSS OF BUSINESS, BUSINESS INTERRUPTION, OR LOSS OF BUSINESS OPPORTUNITY.</p>
            <p>WE ASSUME NO RESPONSIBILITY FOR THE CONTENT OF WEBSITES LINKED ON THE SITE.  SUCH LINKS SHOULD NOT BE INTERPRETED AS ENDORSEMENT BY US OF THOSE LINKED WEBSITES.  WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT MAY ARISE FROM YOUR USE OF THEM.</p>
            <p>DIFFERENT LIMITATIONS AND EXCLUSIONS OF LIABILITY WILL APPLY TO LIABILITY ARISING AS A RESULT OF THE SUPPLY OF ANY GOODS BY US TO YOU, WHICH WILL BE SET OUT IN OUR TERMS AND CONDITIONS OF SUPPLY.</p>
        </li>
        <!--Section 18-->
        <li><h1>APPLICABLE LAW AND CONSENT TO ARBITRATION</h1>
            <p>Any and all disputes or claims arising out of, or relating to, a breach of these terms of use or any use of the Site (including any transactions conducted through the Site, or otherwise conducted on our behalf) (<span class="bold">&#34;Claims&#34;</span>) will be settled by binding arbitration
            before a single arbitrator appointed by the American Arbitration Association (<span class="bold">&#34;AAA&#34;</span>) in accordance with its then governing rules and procedures, including the Supplementary Procedures for Consumer-Related Disputes, where applicable. In agreeing to arbitrate all Claims, you and Ruckus waive all rights
            to a trial by jury in any action or proceeding involving any Claim.  Any arbitration hereunder will be held in the County of New York, State of New York and judgment on the award rendered by the arbitrator may be entered by any court of competent jurisdiction.</p>
            <p>This arbitration provision shall survive termination of this Agreement. Subject to the limitations set forth below, the arbitrator shall have authority to award legal and equitable relief available in the courts of the State of New York; provided that the arbitrator will not have authority to award punitive damages,
            and any and all Claims shall be arbitrated on an individual basis only, and will not be consolidated in, or joined with, any arbitration or other proceeding involving a Claim of any other party.  You and Ruckus agree that any arbitration will be conducted in your/our individual capacities only and not as a class action or
            other representative action and that, further, the arbitrator shall have no authority to arbitrate any Claim as a class action or in any other form other than on an individual basis.  Both you and we agree to expressly waive any right to file a class action, or to seek relief on a class basis, against the other.
            In the event that any court or arbitrator determines that the preceding class action waiver is void or unenforceable for any reason or that an arbitration can proceed on a class basis, then the arbitration provision set forth above will be deemed null and void in its entirety and it will be deemed that neither you,
            nor we, have agreed to arbitrate disputes.</p>
            <p>In the event that either you or we initiate a proceeding involving any Claim other than an arbitration, the other party will be entitled to recover all attorneys&#39; fees and expenses reasonably incurred in enforcing the above agreement to arbitrate.</p>
            <p>Notwithstanding any agreement herein to resolve all disputes through arbitration, either you or we may:</p>
            <ul>
                <li>bring an action in state or federal court to protect our respective intellectual property rights (&#34;intellectual property rights&#34; in this context means patents, copyrights, moral rights, trademarks, and trade secrets, but not privacy or publicity rights); or</li>
                <li>seek relief in a small claims court for disputes or claims within the scope of that court&#39;s jurisdiction.</li>
            </ul>
            <p>For any dispute not subject to arbitration, for any reason whatsoever, you and Ruckus agree to submit to the personal and exclusive jurisdiction and venue of the federal and state courts of the County of New York, State of New York.  You further agree to accept service of process by mail,
            and hereby waive any and all jurisdictional and venue defenses otherwise available.</p>
            <p>These terms of use, and the relationship between you and us generally, will be governed by the laws of the State of New York without regard to conflict of law provisions.</p>
        </li>
        <!--Section 19-->
        <li><h1>ENTIRE AGREEMENT</h1>
            <p>These terms of use (including any additional terms, rules and conditions of Contest participation incorporated by reference) constitute the entire agreement between you and us with respect to the Site and supersedes any prior agreements, oral or written, between you and us.
            In the event of a conflict between these terms of use and any additional terms, rules and conditions of Contest participation, the latter will prevail to the extent of the conflict.</p>
        </li>
        <!--Section 20-->
        <li><h1>WAIVER AND SEVERABILITY OF TERMS</h1>
            <p>Any failure on our part to exercise or enforce any right or provision of these terms of use shall not constitute a waiver of such right or provision.  In the event that any provision of these terms of use is found by an arbitrator or court of competent jurisdiction to be invalid,
            the parties agree that the arbitrator or court should endeavor to give effect to the parties&#39; intentions as reflected in the provision, and that all other provisions remain in full force and effect.</p>
        </li>
        <!--Section 21-->
        <li><h1>STATUTE OF LIMITATIONS AND PRESCRIPTION</h1>
            <p>You agree that, regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to the use of the Site must be filed within one year from the date upon which such claim or cause of action first arose or be forever barred.</p>
        </li>
        <!--Section 22-->
        <li>
            <p>The section titles in the Terms are for convenience only and have no legal or contractual effect.</p>
        </li>
        <!--Section 23-->
        <li>
            <p>To contact us, please email <a href="mailto:support&#64;victiv.com">support&#64;victiv.com.</a></p>
            <p>Thank you for visiting the Site.</p>
        </li>
    </ol>
    <p class="updateDate">These terms of use were last updated on 21 August 2014.</p>
    </div>
</div>
@footer.render(user)
