<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div style="text-align:center;margin-top:100px;">
        <img src="https://dm63aeeijtc75.cloudfront.net/comp.gif" height="350px"/>
      </div>
      <div style="text-align:center;margin-top:40px;font-family:'Open Sans';font-size:24px;font-weight:300;">
        - NOT FOUND -
      </div>
      <div style="text-align:center;margin-top:50px;font-family:'Open Sans';font-size:16px;font-weight:300;color:#898989;">
        I cannot find the page you are looking for, </br> please check your caps lock and reboot your computer.
    </div>
  </body>
</html>